# system
__pycache__
.DS_Store
.idea

# folders
Papers/

# files
load_dataset.py

# extensions
*.db
*.jpg
*.json
*.pth

# exceptions
!dataset/classes.txt
!dataset/download_image.py
!dataset/extract_label.py
