# system
__pycache__
.DS_Store
.idea

# folders
Papers/
dataset/
predict/

# files
load_dataset.py
test.py

# extensions
*.db
*.jpg
*.jpeg
*.json
*.pth

# exceptions
!dataset/classes.txt
!dataset/download_image.py
!dataset/extract_label.py
!predict/look_up.py
!predict/predict.py
!predict/workwork.py
